{% extends 'base.html' %}


{% block title %}title{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}

<div class="users_wrapper">

	Add Friends
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
			data-bs-toggle="dropdown" aria-expanded="false">
			All Users
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			{% for id, user_name in users.items %}
			<li>
				<div class="dropdown-item all-friends" id="{{ id }}">{{ user_name }}</div>
			</li>
			{% endfor %}
		</ul>
	</div>

	Friend Requests
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
			data-bs-toggle="dropdown" aria-expanded="false">
			Requests
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			{% for activity in friend_requests %}
			<li>
				<div class="dropdown-item friend_request" id="{{ activity.id }}">
					{{ activity.sender_id.username }}
					<button type="button" class="btn btn-primary">Accept</button>
					<button type="button" class="btn btn-primary">Reject</button>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>

	Friend Invites
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
			data-bs-toggle="dropdown" aria-expanded="false">
			Invites
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			{% for activity in pending_invites %}
			<li>
				<div class="dropdown-item friend_request" id="{{ activity.id }}">
					{{ activity.user_id.username }}
					{% comment %} <button type="button" class="btn btn-primary">Cancel</button> {% endcomment %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>

	All Friends
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
			data-bs-toggle="dropdown" aria-expanded="false">
			Friends
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			{% for friend in all_friends %}
			<li>
				<div class="dropdown-item friend_request" id="{{ friend.id }}">
					{{ friend.username }}
					{% comment %} <button type="button" class="btn btn-primary">Cancel</button> {% endcomment %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>


	
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addexpense">
		Add Expenses
	</button>

</div>

<!-- Modal -->
<div class="modal fade" id="addexpense" tabindex="-1" aria-labelledby="addexpenseLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="addexpenseLabel">Add Expense</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form>

				<div class="input-group mb-3">
					<label class="input-group-text" for="inputGroupSelect01">With</label>
					<select class="form-select" id="friend_name">
						<option value='0' selected>Choose...</option>
						{% for friend in all_friends %}
							<option value="{{ friend.id }}">{{ friend.username }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="expense_name" class="col-form-label">Expense Name</label>
					<input type="text" class="form-control" id="expense_name" value='' name='expense_name'>
				</div>


				<div class="input-group mb-3">
					<input type="text" class="form-control" aria-label="Username" value='{{ request.user.username }}' disabled>
					<span class="input-group-text">$</span>
					<input type="text" class="form-control" id='current_user_amount' aria-label="amount" value='0'>
				</div>

				<div class="input-group mb-3">
					<input type="text" class="form-control" aria-label="Username" disabled>
					<span class="input-group-text">$</span>
					<input type="text" class="form-control" id='other_user_amount' aria-label="amount" value='0'>
				</div>

				<div class="input-group mb-3">
					<input type="text" class="form-control" aria-label="total_amount" placeholder='Total Amount' disabled>
					<span class="input-group-text">$</span>
					<input type="text" class="form-control" id='total_amount' aria-label="total_amount" value='0' disabled>
					<div class="invalid-feedback" id='amount-zero'>
						Amount not filled.
					  </div>
				</div>

				<div class="input-group mb-3">
					<label class="input-group-text" for="inputGroupSelect02">Split Type</label>
					<select class="form-select" id="split_type">
						<option value='0' selected>Choose...</option>
						<option value="equal">Equal</option>
						<option value="exact">Exact</option>
						<option value="percentage">Percentage</option>
					</select>
				</div>

				<div class='input-group mb-3'>
					<label class="form-control" for="datetime-local">Date-Time</label>
					<input class="form-control" type="datetime-local" id="datetime-local">
				</div>


				<div class="mb-3">
				  <label for="message-text" class="col-form-label">Send Verify notification with message</label>
				  <textarea class="form-control"  name='message' id="message-text"></textarea>
				</div>

			  </form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary" id='add_expense' >Add expense</button>
		</div>
	  </div>
	</div>
  </div>




{% endblock body %}


{% block js %}
<script>

	function isPositiveInteger(str) {
		if (str == '') {
			return false;
		}
		if (typeof str !== 'string') {
		  return false;
		}
	  
		const num = Number(str);
	  
		if (Number.isInteger(num) && num >= 0) {
		  return true;
		}
	  
		return false;
	  }

	  

	console.log('Inside add friend');

	$( document ).ready(function() {
		console.log( "ready!" );
	

		$('.all-friends').click(function () {
			let current_id = this.id;
			url = '{% url 'add_friend' %}';
			$.ajax({
				url: url,
				data: {
					csrfmiddlewaretoken: "{{ csrf_token }}",
					state:"inactive",
					'friend_id': current_id},
				type: 'post',
				success: function(result){
					$('#'+current_id).remove();
				},
				failure: function(){
					console.log('failed');
				}
			});
		});

		$('.friend_request button').click(function(){
			let state = $(this).text();
			let current_id = $(this).parent()[0].id;

			console.log(state);
			console.log(current_id);

			url = '{% url 'add_friend' %}';
			$.ajax({
				url: url,
				data: {
					csrfmiddlewaretoken: "{{ csrf_token }}",
					state:"inactive",
					'activity_id': current_id,
					'state': state },
				type: 'post',
				success: function(result){
					console.log(result);
					$('#'+current_id).remove();
				},
				failure: function(){
					console.log('failed');
				}
			});
		});

		function validate_amounts() {
			if( isPositiveInteger($('#current_user_amount').val()) ) {
				$('#current_user_amount').css('border', '1px solid #ced4da');
			}
			else {
				$('#current_user_amount').css('border', '1px solid red');
				$('#current_user_amount').val(0);
			}
			if( isPositiveInteger($('#other_user_amount').val()) ) {
				$('#other_user_amount').css('border', '1px solid #ced4da');
			}
			else {
				$('#other_user_amount').css('border', '1px solid red');
				$('#other_user_amount').val(0);
			}

			$( "#total_amount" ).val(parseInt($('#current_user_amount').val()) + parseInt($('#other_user_amount').val()));
		}
		$( "#current_user_amount" ).keyup(validate_amounts);

		$( "#other_user_amount" ).keyup(validate_amounts);

		$('#friend_name option').click(function() {
			console.log(this);
		});

		$('#add_expense').click(function(){
			let error = false;
			let friend_id;
			let expense_name;
			let total_amount;
			let current_user_amount;
			let other_user_amount;
			let split_type;
			let datetime;
			let message;

			if ($('#friend_name option:selected').text() == 'Choose...'){
				$('#friend_name').css('border', '1px solid red');
				error = true;
			}
			else {
				$('#friend_name').css('border', '1px solid #ced4da');
				friend_id = $('#friend_name option:selected').val();
			}

			if ($('#expense_name').val().match('^[a-zA-Z]{2,19}$') ) {
				$('#expense_name').css('border', '1px solid #ced4da');
				expense_name = $('#expense_name').val();
			} else {
				$('#expense_name').css('border', '1px solid red');
				error = true;
			}

			if( isPositiveInteger($('#current_user_amount').val()) ) {
				$('#current_user_amount').css('border', '1px solid #ced4da');
			}
			else {
				$('#current_user_amount').css('border', '1px solid red');
				error = true;
			}
			
			if( isPositiveInteger($('#other_user_amount').val()) ) {
				$('#other_user_amount').css('border', '1px solid #ced4da');
			}
			else {
				$('#other_user_amount').css('border', '1px solid red');
				error = true;
			}
			
			if(parseInt($('#total_amount').val()) == 0 ) {
				$('#amount-zero').css('display','block');
				error = true;
			}
			else {
				total_amount = parseInt($('#total_amount').val());
				current_user_amount = parseInt($('#current_user_amount').val());
				other_user_amount = parseInt($('#other_user_amount').val());
				$('#amount-zero').css('display','none');
			}
			

			if ($('#split_type option:selected').text() == 'Choose...'){
				$('#split_type').css('border', '1px solid red');
				error = true;
			}
			else {
				$('#split_type').css('border', '1px solid #ced4da');
				split_type = $('#split_type option:selected').val();
			}

			if($('#datetime-local').val() == '') {
				$('#datetime-local').css('border', '1px solid red');
				error = true;
			}
			else {
				datetime = $('#datetime-local').val();
				$('#datetime-local').css('border', '1px solid #ced4da');
			}


			if($('#message-text').val() == '') {
				message = 'New Expense, hurry and accept it!!';
			}
			else {
				message = $('#message-text').val();
			}

			if(!error) {
				console.log(friend_id);
				console.log(expense_name);
				console.log(total_amount);
				console.log(current_user_amount);
				console.log(other_user_amount);
				console.log(split_type);
				console.log(datetime);
				console.log(message);
				
				url = '{% url 'add_friend' %}';
				$.ajax({
					url: url,
					data: {
						csrfmiddlewaretoken: "{{ csrf_token }}",
						state:"inactive",
						'request_motive': 'expense',
						'friend_id': friend_id,
						'expense_name': expense_name,
						'total_amount': total_amount,
						'current_user_amount': current_user_amount,
						'other_user_amount': other_user_amount,
						'split_type': split_type,
						'datetime': datetime,
						'message': message
					},
					type: 'post',
					success: function(result){
						console.log(result);
					},
					failure: function(){
						console.log('failed');
					}
				})
			}

		});
	});

</script>
{% endblock js %}