{% extends 'base.html' %}


{% block title %}title{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}

<div class="users_wrapper">




	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
			data-bs-toggle="dropdown" aria-expanded="false">
			Add Friends
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			{% for id, user_name in users.items %}
			<li>
				<div class="dropdown-item" id="{{ id }}">{{ user_name }}</div>
			</li>
			{% endfor %}
		</ul>
	</div>

</div>




{% endblock body %}


{% block js %}
<script>
	console.log('Inside add friend');

	$('.dropdown-item').click(function () {
		console.log(this.id);
		url = '{% url 'add_friend' %}';
		$.ajax({
			url: url,
			data: {
				csrfmiddlewaretoken: "{{ csrf_token }}",
				state:"inactive",
				'friend_id': this.id},
			type: 'post',
			success: function(result){
				console.log(result);
			},
			failure: function(){
				console.log('failed');
			}
		});
	});


</script>
{% endblock js %}