{% extends 'base.html' %}


{% block title %}DashBoard{% endblock title %}

{% block css %}
<script>

</script>
{% endblock css %}

{% block body %}

{% if request.user.is_authenticated %}
    loged in as {{ request.user }}. You can <a href="{% url 'logout_handler' %}">Logout</a>
{% endif %}

<!-- get all friends group -->
<!-- get all groups -->

<!-- add friend -->
<br>
<a href="{% url 'add_friend' %}">Add friend</a>
<!-- add group -->
<br>
<a href="{% url 'add_group' %}">Add Group</a>

{% endblock body %}

{% block js %}{% endblock js %}