{% extends 'base.html' %}


{% block title %}Sign Up{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/custom.css' %}" type="text/css" />
{% endblock css %}

{% block body %}

<div class="conatiner">
    <div class="row">
        <div class="col-md-4">
            <main class="form-signin text-center">
                <form action="{% url 'sign_up_handler' %}" method='POST'>
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="parth desai" name="username">
                        <label for="floatingInput1">Username</label>
                    </div>
                    {% if name %}
                        <p class="validation_error">
                            name should be more than 2 character long and only alphabets are allowed.
                        </p>
                    {% endif %}
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="name@example.com" name="useremail">
                        <label for="floatingInput2">Email address</label>
                    </div>
                    {% if email %}
                        <p class="validation_error">
                            Email not Valid!
                        </p>
                    {% endif %}
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword1" placeholder="Password" name="password">
                        <label for="floatingPassword1">Password</label>
                        1. Should have at least one number. <br>
                        2. Should have at least one uppercase and one lowercase character. <br>
                        3. Should have at least one special symbol. <br>
                        4. Should be between 6 to 20 characters long.
                    </div>
                    {% if password %}
                        <p class="validation_error">
                            Password didnt match mentioned conditions.
                        </p>
                    {% endif %}
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword2"
                            placeholder="Confirm Password" name="cpassword">
                        <label for="floatingPassword2">Confirm Password</label>
                    </div>
                    {% if password_match %}
                        <p class="validation_error">
                            Passwords didnt match with confirm password.
                        </p>
                    {% endif %}
                    <div class="form-floating">
                        <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone">
                        <label for="phone">Phone</label>
                    </div>
                    {% if phone %}
                        <p class="validation_error">
                            Phone number not valid.
                        </p>
                    {% endif %}
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                    <p class="mt-5 mb-3 text-muted">
                        <a href="{% url 'log_in' %}">
                            Already have account? Login
                        </a>
                    </p>
                </form>
            </main>
        </div>
    </div>
</div>


{% endblock body %}

{% block js %}{% endblock js %}